In [36]:
import pandas as pd
import os

In [37]:
our_data_root = './../Our Data/'

In [38]:
list_of_sessions = next(os.walk(our_data_root))[1]

In [39]:
list_of_sensors = ['Accelerometer',
                  'Gyroscope',
                  'Magnetometer',
                  'KeyPressEvent',
                  'KeyboardTouchEvent']

In [40]:
columns = {'Accelerometer':['Systime','EventTime','ActivityID','X','Y','Z','Phone_orientation'],
           'Gyroscope':['Systime','EventTime','ActivityID','X','Y','Z','Phone_orientation'],
           'Magnetometer':['Systime','EventTime','ActivityID','X','Y','Z','Phone_orientation'],
           'KeyboardTouchEvent':['Systime','EventTime','ActivityID','Pointer_count','PointerID','ActionID','X','Y','Pressure','Contact_size','Phone_orientation'],
           'KeyPressEvent':['Systime','PressTime','PressType','ActivityID','KeyID','Phone_orientation']}

In [41]:
accelerometer = pd.DataFrame(columns=columns['Accelerometer'])
for session in list_of_sessions:
    accelerometer = accelerometer.append(pd.read_csv(our_data_root+session+'/Accelerometer.csv',names=columns['Accelerometer']))
accelerometer.to_csv(our_data_root+'Accelerometer.csv')
gyroscope = pd.DataFrame(columns=columns['Gyroscope'])
for session in list_of_sessions:
    gyroscope = gyroscope.append(pd.read_csv(our_data_root+session+'/Gyroscope.csv',names=columns['Gyroscope']))
gyroscope.to_csv(our_data_root+'Gyroscope.csv')
Magnetometer = pd.DataFrame(columns=columns['Magnetometer'])
for session in list_of_sessions:
    Magnetometer = Magnetometer.append(pd.read_csv(our_data_root+session+'/Magnetometer.csv',names=columns['Magnetometer']))
Magnetometer.to_csv(our_data_root+'Magnetometer.csv')
KeyboardTouchEvent = pd.DataFrame(columns=columns['KeyboardTouchEvent'])
for session in list_of_sessions:
    KeyboardTouchEvent = KeyboardTouchEvent.append(pd.read_csv(our_data_root+session+'/KeyboardTouchEvent.csv',names=columns['KeyboardTouchEvent']))
KeyboardTouchEvent.to_csv(our_data_root+'KeyboardTouchEvent.csv')
KeyPressEvent = pd.DataFrame(columns=columns['KeyPressEvent'])
for session in list_of_sessions:
    KeyPressEvent = KeyPressEvent.append(pd.read_csv(our_data_root+session+'/KeyPressEvent.csv',names=columns['KeyPressEvent']))
KeyPressEvent.to_csv(our_data_root+'KeyPressEvent.csv')

In [42]:

accelerometer.ActivityID.unique()

array(['Jo1', 'Diego01', 'Toto10', 'Toto8', 'Toto1', 'Toto6', 'Toto7',
       'Toto9', 'jo3', 'jo4', 'jo5', 'jo2', 'Diego05', 'Diego02',
       'Diego03', 'Diego04', 'Toto5', 'Toto2', 'Andres1'], dtype=object)

In [43]:
accelerometer = pd.DataFrame(columns=columns['Accelerometer'])

In [44]:
pd.read_csv(our_data_root+'/KeyPressEvent.csv')

,Unnamed: 0,Systime,PressTime,PressType,ActivityID,KeyID,Phone_orientation
0,0,1537190598209,NaN,0,Jo1,-1,0
1,1,1537190598267,NaN,1,Jo1,-1,0
2,2,1537190598667,NaN,0,Jo1,101,0
3,3,1537190598757,NaN,1,Jo1,101,0
4,4,1537190598822,NaN,0,Jo1,117,0
5,5,1537190598935,NaN,1,Jo1,117,0
6,6,1537190599224,NaN,0,Jo1,98,0
7,7,1537190599322,NaN,1,Jo1,98,0
8,8,1537190599545,NaN,0,Jo1,112,0
9,9,1537190599674,NaN,1,Jo1,112,0
10,10,1537190599712,NaN,0,Jo1,114,0
11,11,1537190599778,NaN,1,Jo1,114,0
12,12,1537190600083,NaN,0,Jo1,111,0
13,13,1537190600151,NaN,1,Jo1,111,0
14,14,1537190600887,NaN,0,Jo1,-5,0
15,15,1537190600897,NaN,1,Jo1,-5,0
16,16,1537190601043,NaN,0,Jo1,-5,0
17,17,1537190601052,NaN,1,Jo1,-5,0
18,18,1537190601192,NaN,0,Jo1,-5,0
19,19,1537190601201,NaN,1,Jo1,-5,0
20,20,1537190601337,NaN,0,Jo1,-5,0
21,21,1537190601346,NaN,1,Jo1,-5,0
22,22,1537190601503,NaN,0,Jo1,-5,0
23,23,1537190601512,NaN,1,Jo1,-5,0
24,24,1537190601939,NaN,0,Jo1,-1,0
25,25,1537190602018,NaN,1,Jo1,-1,0
26,26,1537190602377,NaN,0,Jo1,117,0
27,27,1537190602462,NaN,1,Jo1,117,0
28,28,1537190602830,NaN,0,Jo1,32,0
29,29,1537190602839,NaN,1,Jo1,32,0
...,...,...,...,...,...,...,...
52640,1160,1541942069442,NaN,0,Andres1,113,0
52641,1161,1541942069514,NaN,1,Andres1,113,0
52642,1162,1541942070045,NaN,0,Andres1,117,0
52643,1163,1541942070119,NaN,1,Andres1,117,0
52644,1164,1541942070259,NaN,0,Andres1,105,0
52645,1165,1541942070357,NaN,1,Andres1,105,0
52646,1166,1541942070996,NaN,0,Andres1,32,0
52647,1167,1541942071003,NaN,1,Andres1,32,0
52648,1168,1541942071415,NaN,0,Andres1,110,0
52649,1169,1541942071499,NaN,1,Andres1,110,0
52650,1170,1541942071728,NaN,0,Andres1,111,0
52651,1171,1541942071831,NaN,1,Andres1,111,0
52652,1172,1541942077477,NaN,0,Andres1,-5,0
52653,1173,1541942077482,NaN,1,Andres1,-5,0
52654,1174,1541942077710,NaN,0,Andres1,-5,0
52655,1175,1541942077715,NaN,1,Andres1,-5,0
52656,1176,1541942077906,NaN,0,Andres1,-5,0
52657,1177,1541942077910,NaN,1,Andres1,-5,0
52658,1178,1541942078121,NaN,0,Andres1,-5,0
52659,1179,1541942078127,NaN,1,Andres1,-5,0
52660,1180,1541942078320,NaN,0,Andres1,-5,0
52661,1181,1541942078326,NaN,1,Andres1,-5,0
52662,1182,1541942078541,NaN,0,Andres1,-5,0
52663,1183,1541942078546,NaN,1,Andres1,-5,0
52664,1184,1541942078756,NaN,0,Andres1,-5,0
52665,1185,1541942078761,NaN,1,Andres1,-5,0
52666,1186,1541942079005,NaN,0,Andres1,-5,0
52667,1187,1541942079010,NaN,1,Andres1,-5,0
52668,1188,1541942080965,NaN,0,Andres1,-3,0
52669,1189,1541942081037,NaN,1,Andres1,-3,0